In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Mortality_09_UP.csv")

C:\Users\Kumaran\AppData\Local\Temp\ipykernel_5376\1759330256.py:1: DtypeWarning: Columns (1,3,16,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Mortality_09_UP.csv")

In [3]:
df.head()

,id,m_id,client_m_id,hl_id,house_no,house_hold_no,state,district,rural,stratum_code,...,householdstatus,isheadchanged,fidh,fidx,as,wt,x,schedule_id,year,v126
0,712232,375.0,NaN,2944.0,63,3,9,58,1,1,...,NaN,NaN,NaN,29440958016.0,-0.630351,68.37,NaN,4,1,NaN
1,712240,383.0,NaN,2997.0,28,1,9,58,1,1,...,NaN,NaN,NaN,29970958017.0,-4.369212,68.37,NaN,4,1,NaN
2,109886,246.0,NaN,NaN,58,1,9,62,1,2,...,1.0,1.0,96203400580102.0,NaN,NaN,20.95,NaN,4,3,NaN
3,712216,359.0,NaN,2706.0,196,1,9,58,1,1,...,NaN,NaN,NaN,27060958015.0,-2.996541,68.37,NaN,4,1,NaN
4,712224,367.0,NaN,2777.0,253,1,9,58,1,1,...,NaN,NaN,NaN,27770958015.0,-3.951137,68.37,NaN,4,1,NaN

In [4]:
df.tail()

,id,m_id,client_m_id,hl_id,house_no,house_hold_no,state,district,rural,stratum_code,...,householdstatus,isheadchanged,fidh,fidx,as,wt,x,schedule_id,year,v126
191584,762417,729.0,NaN,NaN,126,1,9,61,1,2,...,1.0,2,96106501260101.0,NaN,NaN,35.96,NaN,4,2,NaN
191585,762425,738.0,NaN,NaN,42,3,9,61,1,2,...,1.0,2,96106600420301.0,NaN,NaN,35.96,NaN,4,2,NaN
191586,762433,746.0,NaN,NaN,208,1,9,61,1,2,...,1.0,2,96106602080101.0,NaN,NaN,35.96,NaN,4,2,NaN
191587,762441,754.0,NaN,NaN,116,1,9,61,1,2,...,1.0,2,96106701160101.0,NaN,NaN,35.96,NaN,4,2,NaN
191588,762449,763.0,NaN,NaN,4,1,9,61,1,2,...,1.0,2,96106800040101.0,NaN,NaN,35.96,NaN,4,2,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191589 entries, 0 to 191588
Columns: 122 entries, id to v126
dtypes: float64(11), int64(11), object(100)
memory usage: 178.3+ MB

In [6]:
df.columns

Index(['id', 'm_id', 'client_m_id', 'hl_id', 'house_no', 'house_hold_no',
       'state', 'district', 'rural', 'stratum_code',
       ...
       'householdstatus', 'isheadchanged', 'fidh', 'fidx', 'as', 'wt', 'x',
       'schedule_id', 'year', 'v126'],
      dtype='object', length=122)

In [7]:
cor=df.corr()
cor.style.background_gradient()

C:\Users\Kumaran\anaconda3\lib\site-packages\pandas\io\formats\style.py:3555: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
C:\Users\Kumaran\anaconda3\lib\site-packages\pandas\io\formats\style.py:3556: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [8]:
df=df.drop("state",axis=1)
df=df.drop("field38",axis=1)
df=df.drop("x",axis=1)
df=df.drop("schedule_id",axis=1)
df=df.drop("v126",axis=1)

In [9]:
df

,id,m_id,client_m_id,hl_id,house_no,house_hold_no,district,rural,stratum_code,psu_id,...,healthscheme_1,healthscheme_2,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,year
0,712232,375.0,NaN,2944.0,63,3,58,1,1,100270529,...,NaN,NaN,NaN,NaN,NaN,NaN,29440958016.0,-0.630351,68.37,1
1,712240,383.0,NaN,2997.0,28,1,58,1,1,100269231,...,NaN,NaN,NaN,NaN,NaN,NaN,29970958017.0,-4.369212,68.37,1
2,109886,246.0,NaN,NaN,58,1,62,1,2,100281885,...,0.0,0.0,1.0,1.0,1.0,96203400580102.0,NaN,NaN,20.95,3
3,712216,359.0,NaN,2706.0,196,1,58,1,1,100268481,...,NaN,NaN,NaN,NaN,NaN,NaN,27060958015.0,-2.996541,68.37,1
4,712224,367.0,NaN,2777.0,253,1,58,1,1,100268463,...,NaN,NaN,NaN,NaN,NaN,NaN,27770958015.0,-3.951137,68.37,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191584,762417,729.0,NaN,NaN,126,1,61,1,2,100278809,...,0,0,1.0,1.0,2,96106501260101.0,NaN,NaN,35.96,2
191585,762425,738.0,NaN,NaN,42,3,61,1,2,100279764,...,0,0,1.0,1.0,2,96106600420301.0,NaN,NaN,35.96,2
191586,762433,746.0,NaN,NaN,208,1,61,1,2,100279767,...,0,0,1.0,1.0,2,96106602080101.0,NaN,NaN,35.96,2
191587,762441,754.0,NaN,NaN,116,1,61,1,2,100280569,...,0,0,1.0,1.0,2,96106701160101.0,NaN,NaN,35.96,2
191588,762449,763.0,NaN,NaN,4,1,61,1,2,100278898,...,0,0,1.0,1.0,2,96106800040101.0,NaN,NaN,35.96,2

In [10]:
ds=df[["house_no","house_hold_no","district","rural","stratum_code","psu_id","m_serial_no","deceased_sex","m_expall_status","fid","year"]]

In [11]:
ds

,house_no,house_hold_no,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,m_expall_status,fid,year
0,63,3,58,1,1,100270529,4.0,1,NaN,NaN,1
1,28,1,58,1,1,100269231,5.0,1,NaN,NaN,1
2,58,1,62,1,2,100281885,1.0,1,NaN,9.620340e+11,3
3,196,1,58,1,1,100268481,38.0,2,NaN,NaN,1
4,253,1,58,1,1,100268463,41.0,2,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
191584,126,1,61,1,2,100278809,9.0,2,NaN,9.610650e+11,2
191585,42,3,61,1,2,100279764,4.0,2,NaN,9.610660e+11,2
191586,208,1,61,1,2,100279767,12.0,1,NaN,9.610660e+11,2
191587,116,1,61,1,2,100280569,7.0,1,NaN,9.610670e+11,2
191588,4,1,61,1,2,100278898,1.0,1,NaN,9.610680e+11,2

In [12]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191589 entries, 0 to 191588
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   house_no         191589 non-null  int64
 1   house_hold_no    191589 non-null  int64
 2   district         191589 non-null  int64
 3   rural            191589 non-null  int64
 4   stratum_code     191589 non-null  int64
 5   psu_id           191589 non-null  int64
 6   m_serial_no      189472 non-null  float64
 7   deceased_sex     191589 non-null  int64
 8   m_expall_status  82573 non-null   float64
 9   fid              76544 non-null   float64
 10  year             191589 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 16.1 MB

In [13]:
ds.isna().sum()

house_no                0
house_hold_no           0
district                0
rural                   0
stratum_code            0
psu_id                  0
m_serial_no          2117
deceased_sex            0
m_expall_status    109016
fid                115045
year                    0
dtype: int64

In [14]:
ds['fid'].value_counts()

9.050100e+11    9
9.080030e+11    8
9.160260e+11    7
9.110020e+11    7
9.050370e+11    7
               ..
9.020320e+11    1
9.020310e+11    1
9.020300e+11    1
9.020290e+11    1
9.610680e+11    1
Name: fid, Length: 69629, dtype: int64

In [15]:
ds["m_serial_no"].fillna(ds["m_serial_no"].mean(skipna=True),inplace=True)
ds["m_expall_status"].fillna(ds["m_expall_status"].mean(skipna=True),inplace=True)
ds["fid"].fillna(ds["fid"].idxmax(),inplace=True)

C:\Users\Kumaran\AppData\Local\Temp\ipykernel_5376\1681393227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds["m_serial_no"].fillna(ds["m_serial_no"].mean(skipna=True),inplace=True)
C:\Users\Kumaran\AppData\Local\Temp\ipykernel_5376\1681393227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds["m_expall_status"].fillna(ds["m_expall_status"].mean(skipna=True),inplace=True)
C:\Users\Kumaran\AppData\Local\Temp\ipykernel_5376\1681393227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds["fid"].fillna(ds["fid"].idxmax(),inplace=True)

In [16]:
ds

,house_no,house_hold_no,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,m_expall_status,fid,year
0,63,3,58,1,1,100270529,4.0,1,0.977729,4.144600e+04,1
1,28,1,58,1,1,100269231,5.0,1,0.977729,4.144600e+04,1
2,58,1,62,1,2,100281885,1.0,1,0.977729,9.620340e+11,3
3,196,1,58,1,1,100268481,38.0,2,0.977729,4.144600e+04,1
4,253,1,58,1,1,100268463,41.0,2,0.977729,4.144600e+04,1
...,...,...,...,...,...,...,...,...,...,...,...
191584,126,1,61,1,2,100278809,9.0,2,0.977729,9.610650e+11,2
191585,42,3,61,1,2,100279764,4.0,2,0.977729,9.610660e+11,2
191586,208,1,61,1,2,100279767,12.0,1,0.977729,9.610660e+11,2
191587,116,1,61,1,2,100280569,7.0,1,0.977729,9.610670e+11,2
191588,4,1,61,1,2,100278898,1.0,1,0.977729,9.610680e+11,2

In [17]:
ds=ds.astype({"m_serial_no":'int',"fid":'int'})

In [18]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191589 entries, 0 to 191588
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   house_no         191589 non-null  int64
 1   house_hold_no    191589 non-null  int64
 2   district         191589 non-null  int64
 3   rural            191589 non-null  int64
 4   stratum_code     191589 non-null  int64
 5   psu_id           191589 non-null  int64
 6   m_serial_no      191589 non-null  int32
 7   deceased_sex     191589 non-null  int64
 8   m_expall_status  191589 non-null  float64
 9   fid              191589 non-null  int32
 10  year             191589 non-null  int64
dtypes: float64(1), int32(2), int64(8)
memory usage: 14.6 MB

In [19]:
ds

,house_no,house_hold_no,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,m_expall_status,fid,year
0,63,3,58,1,1,100270529,4,1,0.977729,41446,1
1,28,1,58,1,1,100269231,5,1,0.977729,41446,1
2,58,1,62,1,2,100281885,1,1,0.977729,-2147483648,3
3,196,1,58,1,1,100268481,38,2,0.977729,41446,1
4,253,1,58,1,1,100268463,41,2,0.977729,41446,1
...,...,...,...,...,...,...,...,...,...,...,...
191584,126,1,61,1,2,100278809,9,2,0.977729,-2147483648,2
191585,42,3,61,1,2,100279764,4,2,0.977729,-2147483648,2
191586,208,1,61,1,2,100279767,12,1,0.977729,-2147483648,2
191587,116,1,61,1,2,100280569,7,1,0.977729,-2147483648,2
191588,4,1,61,1,2,100278898,1,1,0.977729,-2147483648,2

In [20]:
cor2=ds.corr()
cor2.style.background_gradient(cmap='spring')

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x=ds.iloc[:,0:10]
y=ds["year"]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
x_train

,house_no,house_hold_no,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,m_expall_status,fid
105208,224,1,46,1,2,100227983,192,1,1.000000,41446
111289,220,1,66,2,0,100291989,23,1,0.977729,41446
5729,52,1,68,1,1,100298603,7,1,0.977729,41446
166440,123,1,70,1,2,100302455,30,1,1.000000,41446
124032,359,1,43,1,2,100240430,31,1,0.977729,41446
...,...,...,...,...,...,...,...,...,...,...
152315,100,1,1,1,1,100111201,60,2,1.000000,41446
176963,58,1,4,1,2,100119509,75,1,1.000000,41446
117952,3,1,20,2,0,100163985,3,2,1.000000,41446
173685,13,1,17,1,2,100157299,2,1,1.000000,41446
43567,193,1,47,1,2,100249094,10,1,0.977729,41446

In [25]:
y_train

105208    1
111289    1
5729      1
166440    1
124032    1
         ..
152315    1
176963    1
117952    1
173685    1
43567     1
Name: year, Length: 153271, dtype: int64

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
model2=RandomForestClassifier()
model2.fit(x_train,y_train)

RandomForestClassifier()

In [30]:
pred1=model.predict(x_test)
print(pred1)

[1 1 3 ... 3 2 2]

In [31]:
pred2=model2.predict(x_test)
print(pred2)

[1 1 3 ... 2 3 2]

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
acc1=accuracy_score(y_test,pred1)
print("Accuracy:",acc1*100)

Accuracy: 83.32898376742001

In [34]:
acc2=accuracy_score(y_test,pred2)
print("Accuracy:",acc2*100)

Accuracy: 83.30027663239208